@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}



a{
    text-decoration:none;
}

/* ================= HEADER ================= */

header{
    width:100%;
    height:55vh;
    background:url("../../images/blogd.png") center/cover no-repeat;
    display:flex;
    align-items:center;
    padding:80px;
}

.header-content{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.header-content h1{
    color:#02235f;
    font-size:46px;
    font-weight:800;
    margin-top: 40px;
}

.header-content .line{
    width:50px;
    height:3px;
    background:linear-gradient(90deg,#e31e24,#ff5b5b);
    border-radius:100px;
    margin:8px 0 12px;
}

.subtitle{
    width:40%;
    font-size:14px;
    line-height:1.8;
    color:#555;
}

/* ================= TITLE ================= */

.title{
    width:90%;
    margin:30px auto;
    font-size:20px;
    font-weight:700;
    color:#02235f;
}

/* ================= GRID ================= */

.album{
    width:90%;
    max-width:1400px;
    margin:0 auto 80px;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

/* ================= CARD ================= */

.album-card{
    width:100%;
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.album-card:hover{
    transform:translateY(-8px);
    box-shadow:0 18px 35px rgba(0,0,0,.15);
}

/* ================= IMAGE ================= */

.img{
    width:100%;
    height:240px;
    overflow:hidden;
}

.img img{
    width:100%;
    height:100%;
    object-fit:contain;
    display:block;
}

/* ================= CONTENT ================= */

.album-content{
    padding:22px;
}

.album-title{
    color:#02235f;
    font-size:20px;
    font-weight:700;
    margin-bottom:15px;
    line-height:1.4;
}

.info{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:15px;
}

.album-date,
.photo-count{
    display:flex;
    align-items:center;
    gap:6px;
    color:#666;
    font-size:13px;
}

.album-date i,
.photo-count i{
    color:#02235f;
    font-size:14px;
}

/* ================= RESPONSIVE ================= */

@media (max-width:992px){

    .album{
        grid-template-columns:repeat(2,1fr);
    }

}

@media (max-width:768px){

    header{
        height:50vh;
        padding:40px 25px;
    }

    .header-content h1{
        font-size:36px;
    }

    .subtitle{
        width:100%;
    }

    .title{
        width:90%;
        font-size:24px;
    }

    .album{
        grid-template-columns:1fr;
        gap:20px;
    }

}